MySharedPointer\Debug
\Debug
\ipch
.txt
.obj
.db
.sln
*.obj
*.log
*.txt
Debug/MySharedPointer.exe
Debug/MySharedPointer.ilk
Debug/MySharedPointer.pdb
MySharedPointer.sln
MySharedPointer.VC.db
MySharedPointer.VC.VC.opendb
MySharedPointer/Debug/mysharedpointer.obj.enc
MySharedPointer/Debug/MySharedPointer.pch
MySharedPointer/Debug/MySharedPointer.tlog/CL.command.1.tlog
MySharedPointer/Debug/MySharedPointer.tlog/CL.read.1.tlog
MySharedPointer/Debug/MySharedPointer.tlog/CL.write.1.tlog
MySharedPointer/Debug/MySharedPointer.tlog/link.command.1.tlog
MySharedPointer/Debug/MySharedPointer.tlog/link.read.1.tlog
MySharedPointer/Debug/MySharedPointer.tlog/link.write.1.tlog
MySharedPointer/Debug/MySharedPointer.tlog/MySharedPointer.lastbuildstate
MySharedPointer/Debug/vc140.idb
MySharedPointer/Debug/vc140.pdb
MySharedPointer/x64/Debug/MySharedPointer.pch
MySharedPointer/x64/Debug/MySharedPointer.tlog/CL.command.1.tlog
MySharedPointer/x64/Debug/MySharedPointer.tlog/CL.read.1.tlog
MySharedPointer/x64/Debug/MySharedPointer.tlog/CL.write.1.tlog
MySharedPointer/x64/Debug/MySharedPointer.tlog/link.command.1.tlog
MySharedPointer/x64/Debug/MySharedPointer.tlog/link.read.1.tlog
MySharedPointer/x64/Debug/MySharedPointer.tlog/link.write.1.tlog
MySharedPointer/x64/Debug/MySharedPointer.tlog/MySharedPointer.lastbuildstate
MySharedPointer/x64/Debug/vc140.idb
MySharedPointer/x64/Debug/vc140.pdb
x64/Debug/MySharedPointer.exe
x64/Debug/MySharedPointer.ilk
x64/Debug/MySharedPointer.pdb
